<div class="main">
  <div class="w-full flex justify-center">
    <img class="photo ms-auto"
         src="../assets/Photos/jabaMain.jpg"
         alt="HappyBirthayFrog">
  </div>
  <div class="w-full flex justify-center">
    <div class="w-[300px] mt-8  happy-text spinning-text">
      <svg viewBox="0 0 100 100">
        <path id="circlePath"
              d="M 50, 50 m -40, 0 a 40,40 0 1,1 80,0 a 40,40 0 1,1 -80,0"
              fill="none" />
        <text>
          <textPath href="#circlePath">
            РІЯ З ДНЕМ НАРОДЖЕННЯ!
          </textPath>
        </text>
      </svg>
    </div>
  </div>
  <div class="w-full flex justify-center my-6">
    <iframe width="90%"
            height="230px"
            src="https://www.youtube.com/embed/toAiPgJrtMs?si=R9bDJjYZcgIKyKM5&autoplay=1&mute=1"
            title="YouTube video player"
            frameborder="0"
            allow="autoplay; encrypted-media"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
  </div>

  <div class=" w-full flex flex-col items-center align-middle">
    <img class="gif mr-10"
         src="../assets/Photos/izbandut-i̇zbandut.gif ">
    <img class="my-6 ml-10 gif"
         src="../assets/Photos/rick-roll-rick-astley.gif">
    <img class="mr-10 gif"
         src="../assets/Photos/rick-roll-rick-rolled.gif">
  </div>

  <div class="w-full flex justify-center my-6">
    <iframe width="0%"
            height="0px"
            src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=HqRPj3ENsTQc4ATF&autoplay=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
  </div>

</div>